<section  style="background-color: #021e42;"*ngIf="hidesection">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../../../assets/img.avif" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]= "form">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3 d-flex  " style="color: #ff6219;" ></i>
                      <span class="h1 fw-bold mb-0">Login To Continue</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;"> Sign into your account</h5>
  
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                        <input type="text" class="form-control" placeholder="Username" label="Username"formControlName = "name" >
                        <div *ngIf="submitted && form.controls['username'].errors" class="invalid-feedback">
                        <!-- <div *ngIf="form.controls['name'].errors['required']">Username is required</div> -->
                      </div>
                     </div>
                     
                      <div class="input-group mb-3"    >
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                        
                        <input [type]="passType" class="form-control" placeholder="password" aria-label="password" formControlName = "password"  >
                        <!-- <span class="password-toggle-icon" (click)="showpassword()" [ngClass]="{'show': !passType , }"><i class="bi bi-eye-slash-fill" ></i></span> -->
                        <div class="input-group-append" (click)="showpassword()">
                          <span class="input-group-text">
                            <i
                             class="bi"
                              [ngClass]="{
                                'bi-eye-slash-fill':  passType =='password',
                                ' bi-eye-fill':passType =='text'
                              }"
                           
                            ></i>
                          </span>
                        </div>                  
                      </div>
                      
                      
  
<!--<div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control "  placeholder="Enter password"/>
                     
                    </div> -->
  
                    <div class="pt-1 mb-5"  >
                      <button type="submit" (click)="LoginForm()" [disabled]="!form.valid" class="btn btn-dark btn-lg btn-block" >Login</button><br><br>
                      <p class="" style="color: #393f81;">Don't have an account? </p>
                      <button (click)="signup()" class="btn btn-dark btn-lg btn-block">SignUp</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                   
                        
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  
  <section  style="background-color: #021e42;" *ngIf="showsection">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="../../../assets/img.avif" alt="signup form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="formSignup" (ngSubmit)="postData()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3 d-flex  " style="color: #ff6219;" ></i>
                      <span class="h1 fw-bold mb-0">SignUp To Continue</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;"> Create New Account</h5>
  
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                        <input type="text" class="form-control" placeholder="Username" label="Username"formControlName = "username">
                     
                      </div>
                      <div class="input-group mb-3"  >
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                        <input [type]="passType" class="form-control" placeholder="password" aria-label="password" formControlName = "password1"  >
                        
                        <!-- <span class="password-toggle-icon" (click)="showpassword()" [ngClass]="{'show': !passType , }"><i class="bi bi-eye-slash-fill" ></i></span> -->
                        <div class="input-group-append"   (click)="showpassword()">
                          <span class="input-group-text">
                            <i
                             class="bi"
                              [ngClass]="{
                                'bi-eye-slash-fill':  passType =='password',
                                ' bi-eye-fill':passType =='text'
                              }"
                           
                            ></i>
                          </span>
                        </div>        
                                  
                      </div>


                      <div class="input-group mb-3"   >
    
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                        <input [type]="passType" class="form-control" placeholder="Re-enter Password" aria-label="password" formControlName = "reEnterPassword"  >
                        
                        <!-- <span class="password-toggle-icon" (click)="showpassword()" [ngClass]="{'show': !passType , }"><i class="bi bi-eye-slash-fill" ></i></span> -->
                        <div class="input-group-append"   >
                          <span class="input-group-text"(click)="showpassword()">
                            <i
                             class="bi"
                              [ngClass]="{
                                'bi-eye-slash-fill':  passType =='password',
                                ' bi-eye-fill':passType =='text'
                              }"
                           
                            ></i>
                          </span>
                        </div>        
                                  
                      </div>
                      
  
<!--<div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control "  placeholder="Enter password"/>
                     
                    </div> -->
  
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block" [disabled]="!formSignup.valid">SignUp</button><br><br>
                      <p  style="color: #393f81;">Already have an account? </p>
                     <button (click)="login()" class="btn btn-dark btn-lg btn-block">Login</button>
                    </div>
  
                    <a class="small text-muted" href="#!">Forgot password?</a>
                   
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  
